.modal {
  --bs-modal-width: 40rem;
  --bs-modal-bg: #ebeff3;
}
::ng-deep .modal-content {
  min-width: 40rem;
}

.toast-container {
  left: 50%;
  position: fixed;
  top: 20px;
  z-index: 5002;
  width: var(--p-toast-width);
  white-space: pre-line;
  word-break: break-word;
}
.toast-top-center {
  transform: translateX(-50%);
}
.p-toast-message-content {
  display: flex;
  align-items: flex-start;
  padding: 0.75rem;
  gap: 0.5rem;
  min-height: 0;
  overflow: hidden;
  transition: padding 250ms ease-in;
}
.p-toast-message-text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.p-toast-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: transparent;
  outline-color: transparent;
  color: inherit;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  margin: -25% 0 0 0;
  right: -25%;
  padding: 0;
  border: none;
  user-select: none;
}
.p-toast-message-info, .p-toast-message-success, .p-toast-message-warn, .p-toast-message-error, .p-toast-message-secondary, .p-toast-message-contrast {
    border-width: 1px;
    border-style: solid;
    backdrop-filter: blur(1.5px);
    border-radius: 6px;
}
.p-toast-message-error {
    background: color-mix(in srgb, #fef2f2,transparent 5%);
    border-color: #fecaca;
    color: #dc2626;
    box-shadow: 0px 4px 8px 0px color-mix(in srgb, #ef4444,transparent 96%);
    .p-toast-detail{
        color: #334155;
    }
}