@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.scss';
html {
  font-size: 62.5%;
}

.bg-app {
  background: linear-gradient(270deg, #0f6aa2, #125188);
}
.bg-container {
  background-image: linear-gradient(180deg, #0000, #0009 76%);
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: auto;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11; /* Ensure tooltip is displayed above content */
}

.tooltiptext-bottom {
  top: 100%;
  left: 50%;
}
/* Show the tooltip text on hover */
.tooltip-container:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.btn-primary {
  background: linear-gradient(-45deg, #125188, #0f6aa2);
  box-shadow: 0 0.1rem 0.4rem 0.1rem #1599d129, 0 0.4rem 1.6rem -0.2rem #2690d333,
    0 0.8rem 2.4rem -0.8rem #3888cf47, inset 0 0 1.2rem 0.4rem #187ebe3d;
}

.bg-ui-2 {
  background-color: #ebeff3;
}

.left-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 0.8rem;
  @include media-breakpoint-up(lg) {
    position: static;
    left: 0;
    width: 8rem;
    bottom: unset;
    padding: 1.2rem;
  }
  .nav-buttons {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 1.2rem;
    @include media-breakpoint-up(lg) {
      flex-direction: column;
    }
    .nav-button {
      height: 4rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media-breakpoint-up(lg) {
        flex-direction: row;
      }
      .nav-icon {
        height: 1.2rem;
      }
    }
  }
}
.main-content {
  margin-bottom: 5rem;
  @include media-breakpoint-up(lg) {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
.min-width-375 {
  min-width: 35rem;
}

