.with-result {
  .title {
    display: none;
  }
}
.result {
  ::ng-deep b {
    border-radius: 8px;
    background: #0564c3;
    padding: 0 4px;
    color: white;
  }
}

div.title_en {
text-align: center;
font-size: large;
}

div.title_zh {
color:grey;
text-align: center;
font-size: large;
}

.zh {
  color: grey;
}

.en {

}

a {
display:block;
}
